@import url('https://fonts.googleapis.com/css?family=Bahiana|Baloo+Bhaina|Crafty+Girls|Fascinate+Inline|Fontdiner+Swanky|Fredericka+the+Great|New+Rocker');
body {
	background-color: white;
}
h1 {
	font-size: 80px;
	color: #751B35;
	text-align: center;
	font-family: 'New Rocker', cursive;
}

#slogan {
	font-size: 20px;
	font-family:'Fontdiner Swanky', cursive;
	color: #751B35;
	text-align: center;
}
.every {
	font-family:'Fredericka the Great', cursive;
	font-size: 20px;
	color:#751B35;
	text-align: center;
}

header {
    background-color: #FFED74;
    border: 8px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 8px black solid;
    padding: 20px;
}

section
{
    background-color: #FFE2B8;
    border: 8px black solid;
    padding: 20px;
    text-align: center;
}
 Footer
 {
 	 background-color: #FF957E;
    border: 8px black solid;
    padding: 20px;
    text-align: center;

 }
   
